[Unit]
Description=TF2Stadium Backend
After=Pauling.service
Requires=Pauling.service
Requires=postgresql.service

[Service]
ExecStart=/usr/bin/runHelen

[Install]
WantedBy=multi-user.target