<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  </head>

  <body>
    <table class="pure-table" >
      <thead>
	<tr>
	  <td>Player</td>
	  <td>Ban</td>
	  <td>Reason</td>
	  <td>On</td>
	  <td>Until</td>
	  <td>By</td>
	</tr>
      </thead>
      <tbody>
	{{range .}}
	<tr>
	  <td>{{.Player.Name}} ({{.Player.SteamID}})</td>
	  <td>{{.Type.String}}</td>
	  <td>{{.Reason}}</td>
	  <td>{{.CreatedAt.Format "Mon Jan _2 15:04:05 2006"}}</td>
	  <td>{{.Until.Format "Mon Jan _2 15:04:05 2006"}}</td>
	  <td>{{if .BannedByPlayerID}} {{.BannedByPlayer.Name}} ({{.BannedByPlayer.SteamID}}) {{else}} automatic {{end}}</td>
	</tr>
	{{end}}
      </tbody>
    </table>
  </body>
</html>
