<html>
  <head>
    <title>Confirm</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <div>
      <style scoped>
	.button-error,
	.button-success,

	.button-success {
        background: rgb(28, 184, 65);
        }

        .button-error {
        background: rgb(202, 60, 60);
        }
      </style>
      <b>{{.Title}}</b><br><br>

      <form method="post" action="{{.URL}}">
	<input type="hidden" name="confirm" value="yes">
	<input type="hidden" name="xsrf-token" value="{{.XSRFToken}}">
	<button type="submit" class="button-success pure-button">Yes</a>
      </form>
    </div>    
  </body>
</html>
