<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  </head>

  <body>
    <table class="pure-table">
      <thead>
	<tr>
	  <td>ID</td>
	  <td>Server</td>
	  <td>RCON</td>
	</tr>
      </thead>
      <tbody>
	<!-- "Note that if there is only one variable, it is assigned
	     the element; this is opposite to the convention in Go range clauses." -->
	{{$url := .FrontendURL }}
	{{range $lobby := .Lobbies}}<tr>
	  <td><a href="{{print $url}}/lobby/{{$lobby.ID}}">Lobby #{{$lobby.ID}}</td>
	  <td>{{$lobby.ServerInfo.Host}}</td>
	  <td>{{$lobby.ServerInfo.RconPassword}}</td>
	</tr>{{end}}
      </tbody>
      
    </table>
  </body>
</html>
