<html>
  <head>
    <title>Example form</title>
    <style type="text/css">
    .container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

    </style>
  </head>
  
  <body>
    <div class="container">
      <b>Ban from joining lobbies</b>
      <form method="get" action="ban/join">
	Steam ID: <input type="text" name="steamid"><br>
	Until: <input type="text" name="until"><br><br>
	Reason <input type="text" name="reason"><br><br>
	<input type="submit" value="Submit">
      </form>

      <b>Ban from creating lobbies</b>
      <form method="get" action="ban/create">
	Steam ID: <input type="text" name="steamid"><br>
	Until: <input type="text" name="until"><br><br>
	Reason <input type="text" name="reason"><br><br>
	<input type="submit" value="Submit">
      </form>

      <b>Ban from chatting</b>
      <form method="get" action="ban/chat">
	Steam ID: <input type="text" name="steamid"><br>
	Until: <input type="text" name="until"><br><br>
	Reason <input type="text" name="reason"><br><br>
	<input type="submit" value="Submit">
      </form>

      <b>Full ban</b>
      <form method="get" action="ban/full">
	Steam ID: <input type="text" name="steamid"><br>
	Until: <input type="text" name="until"><br><br>
	Reason <input type="text" name="reason"><br><br>
	<input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
